

/* The White Lotus - Start */

.body__the-white-lotus {
  --color-brand: rgb(95,33,42);;
  --color-primary: rgb(95,33,42);
  --color-primary-light: rgb(117,68,69);
  --color-secondary: rgb(36,47,39);;
  --color-secondary-light: rgb(108, 131, 108);

  --color-white: white;
  --color-black: black;

  --color-text: black;
  --color-text-inverted: #ebdac0;

  --color-accept: var(--color-secondary);
  --color-accept-light: var(--color-secondary-light);
  --color-cancel: var(--color-primary);
  --color-cancel-light: var(--color-primary-light);


  --lotus-canvas-white: #ebdac0;


  --body_background: var(--lotus-canvas-white);



  --action-bar_button_color: #AE57FF;

  --lock-overlay_background: aqua;
  --lock-overlay_opacity: 0.4;



  --modal_modal-cancel_background: var(--color-cancel);
  --modal_modal-cancel_color: var(--color-text-inverted);
  --modal_modal-cancel_background_hover: var(--color-cancel-light);
  --modal_modal-cancel_border-color_hover: var(--color-cancel-light);

  --modal_modal-accept_background: var(--color-accept);
  --modal_modal-accept_color: var(--color-text-inverted);
  --modal_modal-accept_background_hover: var(--color-accept-light);
  --modal_modal-accept_border-color_hover: var(--color-accept-light);



  
  --saving-spinner_background: var(--color-secondary);
  --saving-spinner_color: var(--lotus-canvas-white);


  --new-task-category-border: var(--color-primary);


  --categorySelected-background: var(--color-primary);
  --categorySelected-color: white;

  --new-cat_background: var(--color-primary);
  --new-cat_color: var(--color-primary);
  --new-cat_hover: var(--color-primary);

  --flow-highlight-background: #53141b;


  --footer-css-theme-btn-background: var(--lotus-canvas-white);
  --footer-css-theme-btn-opacity: 0.5;



  filter: saturate(1.4);
  /* background: white; */
  --categoryHeader-color: blue;

  background-image: url("./assets/images/tiger-sleep.png");
  /* --task-title_border-color: green; */

}


.body__the-white-lotus .modal {
  background-color: var(--lotus-canvas-white);
}
.body__the-white-lotus .modal input,
.body__the-white-lotus .modal textarea,
.body__the-white-lotus .modal input:active {
  background-color: var(--lotus-canvas-white);
}


.body__the-white-lotus .model_edit-category_set-cat-first_not-selected {
  background: var(--color-primary-light);
  border-color: var(--color-primary);
}

.body__the-white-lotus .model_edit-category_set-cat-first_selected {
  background: var(--color-primary);
  color: var(--lotus-canvas-white);
  border-color: var(--color-primary);
}

.body__the-white-lotus .model_edit-category_set-cat-last_not-selected {
  background: var(--color-primary-light);
  border-color: var(--color-primary);
}

.body__the-white-lotus .model_edit-category_set-cat-last_selected {
  background: var(--color-primary);
  color: var(--lotus-canvas-white);
  border-color: var(--color-primary);
}





.body__the-white-lotus .model_edit-task_set-task-first_not-selected,
.body__the-white-lotus .model_edit-task_set-task-last_not-selected {
  background: var(--lotus-canvas-white);
  border-color: var(--color-primary);
}

.body__the-white-lotus .model_edit-task_set-task-first_selected,
.body__the-white-lotus .model_edit-task_set-task-last_selected {
  background: var(--color-primary-light);
  color: var(--lotus-canvas-white);
  border-color: var(--color-primary);
}









.body__the-white-lotus .action-bar {
  background: rgb(95,33,42);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4px;
  justify-content: center;
}

.body__the-white-lotus .action-bar_button {
  color: var(--lotus-canvas-white);
}
.counterTasks {
  color: var(--lotus-canvas-white);
}



.body__the-white-lotus .flow {
  background: transparent;
  border-radius: 8px;
} 

.body__the-white-lotus .newTaskCategoryGrid {
  background: var(--color-primary-light);
  opacity: 0.9;
}






/* A category with tasks parent */

/* A category header */
.body__the-white-lotus .categoryHeader {
  background-color: var(--color-primary);
}
.body__the-white-lotus .notselectedcategoryheader {
  color: var(--lotus-canvas-white);
  border-color: var(--color-primary);
}
.body__the-white-lotus .extraforselectedcategoryheader {
  color: var(--color-primary);
  background-color: var(--lotus-canvas-white);
}



.body__the-white-lotus .createNewTask_CatDeleteBtn:hover {
  background: var(--color-primary);
  color: white;
}


.body__the-white-lotus .newTaskTitleInputParent {
  background-color: var(--color-primary);
}
.body__the-white-lotus .newTaskTitleInputLabel {
  color: var(--lotus-canvas-white);
  opacity: 0.9;
}
.body__the-white-lotus .newTaskTitleTextArea {
  background-color: var(--lotus-canvas-white);
  color: var(--color-primary);
}

.body__the-white-lotus .newTaskTitleTextArea::placeholder {
  color: var(--color-primary);
}


.body__the-white-lotus .new-task_submit {
  background-color: var(--color-primary);
  opacity: 1;
  color: var(--lotus-canvas-white);
}

.body__the-white-lotus .default-order-new-task_parent button {
  border-color: var(--color-primary);
}

.body__the-white-lotus .default-order-new-task-first,
.body__the-white-lotus .default-order-new-task.selected {
  background: var(--lotus-canvas-white);
  color: var(--color-primary);
}
.body__the-white-lotus .default-order-new-task-last,
.body__the-white-lotus .default-order-new-task.not-selected {
  background: var(--color-primary);
  color: var(--lotus-canvas-white);
}

.body__the-white-lotus .new-cat_parent {
  background-color: transparent;
  border: 2px solid var(--color-primary);

}
.body__the-white-lotus .new-cat_label {
  background-color: var(--color-primary);
  opacity: 0.9;
  color: var(--lotus-canvas-white);
}
.body__the-white-lotus .new-cat_input {
  width: calc(100% - 4px);
  margin-bottom: 0;
  background-color: var(--lotus-canvas-white);
}

.body__the-white-lotus .new-cat_submit {
  color: var(--lotus-canvas-white);
}









.body__the-white-lotus .arrowLeftRight,
.body__the-white-lotus .toggle-category,
.body__the-white-lotus .editCategory {
  color: var(--color-primary);
  border-color: var(--lotus-canvas-white);
  background-color: var(--lotus-canvas-white);
  opacity: 0.5;
}
.body__the-white-lotus .arrowLeftRight:hover,
.body__the-white-lotus .toggle-category:hover,
  .body__the-white-lotus .editCategory:hover {
  color: #ebdac0;
  background: var(--color-primary);
}


.body__the-white-lotus .taskTable {
  margin-top: 2em;
  border-radius: 1em;
}

.body__the-white-lotus .task_delete,
.body__the-white-lotus .task_down,
.body__the-white-lotus .task_up,
.body__the-white-lotus .task_edit {
  border-color: transparent;
  background-color: var(--lotus-canvas-white);
  opacity: 0.5;
}
.body__the-white-lotus .task_delete:hover,
.body__the-white-lotus .task_down:hover,
.body__the-white-lotus .task_up:hover,
.body__the-white-lotus .task_edit:hover {
  border-color: var(--lotus-canvas-white);
  color: var(--lotus-canvas-white);
  background-color: var(--color-secondary);
}



.body__the-white-lotus .spanMoveTaskDownBtn:hover,
.body__the-white-lotus .spanMoveTaskUpBtn:hover {
}
.body__the-white-lotus .taskTitle {
  border-color: transparent;
  background-color: var(--color-secondary);
  color: var(--lotus-canvas-white);
}
.body__the-white-lotus .emptyTaskTitle {
  background: transparent;
}
.body__the-white-lotus .task-checkbox-container-checked {
  border-color: transparent;
  background: var(--color-primary);
}
.body__the-white-lotus .task-checkbox-container-unchecked {
  border-color: transparent;
  background-color: var(--lotus-canvas-white);
  opacity: 0.5;
}
.body__the-white-lotus .task-checkbox-container-unchecked:hover {
  opacity: 1;
}


.body__the-white-lotus footer {
  border: none;
}
.body__the-white-lotus footer .createdBy {
  background-color: var(--lotus-canvas-white);
  opacity: 0.5;
  padding-left: 1em;
  padding-right: 1em;
}
.body__the-white-lotus footer .createdBy a {
  border: none;
}






/* SCROLLBAR */

/* Track */
.body__the-white-lotus::-webkit-scrollbar-track {
  background: var(--color-secondary-light);
}

/* Handle */
.body__the-white-lotus::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
}

/* Handle on hover */
.body__the-white-lotus::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
  border-color: var(--color-primary);
}
/* End SCROLLBAR */








@media only screen and (min-device-width: 600px) {
  
  .body__the-white-lotus .flow {
    margin: 0.8em;
  } 
  .body__the-white-lotus .categoryHeaderTable {
    margin: 0;
  }

}

