

/* ASSIST SIZE INDICATION */
.responsive-design-assist {
  position: absolute;
}
.mobile {display: inherit;}
.tablet {display: none;}
.desktop {display: none;}



body {
/* Style variables */
  --color-brand: blue;
  --color-brand-light: lightblue;
  --color-primary: green;
  --color-primary-light: lightgreen;
  --color-secondary: red;
  --color-secondary-light: pink;

  --color-white: white;
  --color-black: black;

  --color-canvas: white;

  --color-text: black;
  --color-text-inverted: white;

  --color-accept: var(--color-primary);
  --color-accept-light: var(--color-primary-light);

  --color-cancel: var(--color-secondary);
  --color-cancel-light: var(--color-secondary-light);

  --font-weight_body: 500;

  --color-link: var(--color-text)
  --opacity-cell: 1;
  --action-bar_button_color: var(--color-text);

  --lock-overlay_background: grey;
  --lock-overlay_opacity: 0.7;

  --modal_set-top-or-bottom_not-selected_background: var(--color-canvas);
  --modal_set-top-or-bottom_not-selected_border-color: var(--color-brand);
  --modal_set-top-or-bottom_not-selected_color: var(--color-brand);
  --modal_set-top-or-bottom_selected_background: var(--color-brand-light);
  --modal_set-top-or-bottom_selected_border-color: var(--color-brand);
  --modal_set-top-or-bottom_selected_color: var(--color-brand);

  --modal_set-top-or-bottom_background_hover: var(--color-brand);
  --modal_set-top-or-bottom_border-color_hover: var(--color-brand);
  --modal_set-top-or-bottom_color_hover: var(--color-text-inverted);


  --modal_modal-cancel_background: var(--color-cancel-light);
  --modal_modal-cancel_color: var(--color-cancel);
  --modal_modal-cancel_border-color: var(--color-cancel);
  --modal_modal-cancel_background_hover: var(--color-cancel);
  --modal_modal-cancel_color_hover: var(--color-text-inverted);
  --modal_modal-cancel_border-color_hover: var(--color-cancel);

  --modal_modal-accept_background: var(--color-accept-light);
  --modal_modal-accept_color: var(--color-accept);
  --modal_modal-accept_border-color: var(--color-accept);
  --modal_modal-accept_background_hover: var(--color-accept);
  --modal_modal-accept_color_hover: var(--color-text-inverted);
  --modal_modal-accept_border-color_hover: var(--color-accept);


  --saving-spinner_background: black;
  --saving-spinner_color: white;


  --new-task-category-border: black;


  --new-task_color: grey;
  --new-cat_background: grey;
  --new-cat_color: grey;
  --new-cat_hover: silver;


  --category-header-title-background: var(--color-white);
  --category-header-title-border: var(--color-brand);
  --category-header-title-color: var(--color-brand);
  --category-header-buttons-background: var(--color-white);
  --category-header-buttons-border: var(--color-brand);
  --category-header-buttons-color: var(--color-brand);

  --category-header-title-background-selected: var(--color-brand);
  --category-header-title-border-selected: var(--color-brand);
  --category-header-title-color-selected: var(--color-text-inverted);

  --task-title_border-color: black;

  --flow-highlight-background: var(--color-primary-light);
  --flow-highlight-color: var(--color-text);
  --flow-highlight-category-border-color: var(--color-primary);
  --flow-highlight-task-color: var(black);



  --footer-css-theme-btn-background: transparent;
  --footer-css-theme-btn-opacity: 1;
  
  --task-checkbox-unchecked-background: none;
  --task-checkbox-checked-background: black;

}

/* Reset default behaviour */
button {
  background: none;
  border: none;
}




/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: aqua;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: deeppink;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #AE57FF;
  border: 6px solid #AE57FF;
}
/* End SCROLLBAR */




html,
body {
  margin: 0;
  cursor: default;

  font-size: 10px;
  letter-spacing: 1px;
  word-wrap: break-word;
  /* zoom: 0.7; */
  background: var(--color-canvas);
  /* font-family: allerta, serif; */
  font-weight: var(--font-weight_body);

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: inherit; */
  font-variation-settings:
    "wdth" 100;
}


td,
th {
  padding: 0;
  border: 2px solid;
}

 
input,
textarea,
input:active {
  border-style: none;
  font-weight: bold;
}



.lockOverlay {
  background: var(--lock-overlay_background);
  opacity: var(--lock-overlay_opacity);
  z-index: 1;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
}


.saving-spinner_parent {
  position: absolute;
}
.saving-spinner {
  background: var(--saving-spinner_background);
  position: sticky;
  top: 5em;
  left: 1em;
  width: fit-content;
  color: var(--saving-spinner_color);
  padding: 1em;
  z-index: 5;
  display: none;
}

.retrieving-data-spinner {
  position: absolute;
  top: 5em;
  width: 100%;
}
.retrieving-data-spinner p {
  width: fit-content;
  background: grey;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  padding: 1em; 
}








.action-bar {
  display: flex;
  font-size: 8px;
  height: 40px;
  width: 100%;
  justify-content: center;

  margin: 0 auto 5px;
}

.action-bar_button,
.action-bar_item {
  font-size: 10px;
  padding: 4px 6px 6px 6px;
  margin: 10px 0.5em 0.5em;
  color: var(--action-bar_button_color);
  font-family: allerta, serif;
}

.action-bar_item {
  padding: 4px 6px 6px 6px;
  margin: 11px 0.5em 0.5em;
}


.signature {
  /* image-rendering: pixelated; */
  height: 32px;
  padding: 0px 0px 0px 0px;
  margin: 6px 0px 0px 16px;
}


.modal {
  display: none;
  z-index: 1;
  position: absolute;
  /* position: sticky; */
  top: 200px;
/*  left: 36vw; */
  /* margin: 0 auto; */
  /* transform: translateX(-50%); */

  background: white;
  width: 400px;
  padding: 20px;
  text-align: center;
}

.modal .modal_label {
  width: 400px;
}


.modal .modal_warning {
  border: none;
}



.modal_set-top-or-bottom {
  height: 3em;
}
.modal_set-top-or-bottom_not-selected {
  background: var(--modal_set-top-or-bottom_not-selected_background);
  border-color: var(--modal_set-top-or-bottom_not-selected_border-color);
  color: var(--modal_set-top-or-bottom_not-selected_color);
}
.modal_set-top-or-bottom_selected {
  background: var(--modal_set-top-or-bottom_selected_background);
  border-color: var(--modal_set-top-or-bottom_selected_border-color);
  color: var(--modal_set-top-or-bottom_selected_color);
}





.modal .modal_cancel,
.modal .modal_accept {
  font-weight: 700;
}

.modal .modal_cancel {
  background: var(--modal_modal-cancel_background);
  color: var(--modal_modal-cancel_color);
  border-color: var(--modal_modal-cancel_border-color);
}


.modal .modal_accept {
  background: var(--modal_modal-accept_background);
  color: var(--modal_modal-accept_color);
  border-color: var(--modal_modal-accept_border-color);

  width: 50%;
  height: 3em;
}

.model_settings_set-actionbar-location {
  height: 3em;
}













/* edit task modal - Start */
.inputForChangingTaskTitle {
  height: 5em;
}

.binModalHeader {
  min-width: 428px;
}

.binTaskTitle {
  word-break: break-all;
}
/* edit task modal - End */









.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4px;
  margin: 0px 1px 0 2px;
}

















.createNewTaskGrid {
  width: 210px;
  width: 209px;
}
.create-new-task {
  width: 190px;

}

.newTaskCategoryGrid {
  border: 2px solid var(--new-task-category-border);
  border-width: 1px 2px 1px 2px ;
  display: grid;
  /* column-gap: 1rem; */
  /* column-count: 2; */
  grid-template-columns: 1fr 18px
}

.createNewTask_CategoryName {
  word-wrap: break-word;
  border: 2px solid var(--new-task-category-border);
  border-width: 1px 0px 1px 0px ;
  /* line-height: 16px; */
  padding-bottom: 1px;
}

.createNewTask_CategoryName.defaulCategory {
  padding-bottom: 1px;
}

.defaulCategory {
  grid-column: 1 / 3;
}

.createNewTask_CatDeleteBtn {
  align-items: center;
  display: inherit;
  color: var(--color-brand);
  border: 2px solid transparent;
  border-color: var(--new-task-category-border);
  border-width: 1px 0px 1px 2px;
  padding: 0 0 0px 1px;
}



.newTaskTitleInputParent {
  margin: 16px 0px 16px 0px;
  background-color: #4BA6FF;
  padding: 0px 2px 0px 2px;
}
.newTaskTitleInputLabel {
  font-weight: bold;
  font-size: 1.1em;
  padding: 2px 0px 2px 0px;
  color: white;
}
.newTaskTitleTextArea {
  height: 32px;
  width: calc(100% - 4px);
  padding: 6px 2px 0px 2px;
  margin: 0px 0px 0px 0px;
  outline: none;
  font-size: 1em;
  text-align: center;
  color: var(--new-cat_color);
  color: #4BA6FF;
}

.newTaskTitleTextArea::placeholder {
  color: #4BA6FF;
}

.new-task_submit {
  height: 40px;
  width: 100%;
  font-size: 1.42em;
  background-color: #4BA6FF;
  color: white;
}

.default-order-new-task_parent {
  margin: 16px 0px 16px 0px;
  display: flex;
}
.default-order-new-task_parent button {
  width: 50%;
  border: 2px solid #AE57FF;
}

.default-order-new-task-first,
.default-order-new-task.selected {
  background: #AE57FF;
  color: white;
}
.default-order-new-task-last,
.default-order-new-task.not-selected {
  background: white;
  color: #AE57FF;
}

.new-cat_parent {
  font-size: 1.1em;
  /* border: 2px solid black; */
  background: var(--new-cat_background);
}
.new-cat_label {
  color: white;
  padding: 2px 0px 2px 0px;
}
.new-cat_input {
  height: 20px;
  width: calc(100% - 8px);
  padding: 6px 2px 0px 2px;
  margin: 0px 0px 2px 0px;
  outline: none;
  font-size: 1em;
  text-align: center;
  color: var(--new-cat_color);
}
.new-cat_input::placeholder {
  color: var(--new-cat_color);
}
.new-cat_submit {
  height: 40px;
  width: 100%;
  font-size: 1.42em;
  background: var(--new-cat_background);
  color: white;
}

.defaultOrderNewTask {
  width: 50%;
}















/* A category with tasks parent */
.masterTask {
  margin: 0px auto 0px;
}

/* A category header table */
.categoryHeaderTable {
  word-wrap: break-word;
  margin: 0 0px 0 0px;
  width: 213px;
  margin: -2px;
}

/* A category header */
.categoryHeader {
  background: var(--category-header-title-background);
  border: 2px solid var(--category-header-title-border);
  height: 32px;
  word-wrap: break-word;
  color: var(--category-header-title-color);
}

.extraforselectedcategoryheader {
  background: var(--category-header-title-background-selected);
  color: var(--category-header-title-color-selected);
  border-color: var(--category-header-title-border-selected);
}

.arrowLeftRight,
.toggle-category,
.editCategory {
  background: var(--category-header-buttons-background);
  color: var(--category-header-buttons-color);
  border: 2px solid var(--category-header-buttons-border); 
  font-size: 14px;
  padding: 0px 0px 2px 0px;
  width: 20px;
}
.toggle-category,
.editCategory {
  width: 35%;
}









/* a task */
.taskTable {
  border-spacing: 2px;
  margin: 10px auto;
}

/* Used for up&down btn's on tasks */
.spanMoveTaskDownBtn {
  /* zoom: 1.5; */
  min-width: 20px;
  padding: 0px 0 4px 0px;
  display: block;
  transform: rotate(90deg);
}

.spanMoveTaskUpBtn {
  min-width: 20px;
  display: block;
  padding: 0 0px 4px 2px;
  transform: rotate(90deg);
}

.taskTitle {
  max-width: 200px;
  min-width: 200px;
  border-color: var(--task-title_border-color);
}
.emptyTaskTitle {
  /* some height to make it stand out more */
  background: transparent;
  height: 16em;
}

.task-table-tr-link td {
  border: none;
}
.task-table-tr-link td a.taskLink:visited,
.task-table-tr-link td a.taskLink:active,
.task-table-tr-link td a.taskLink:hover,
.task-table-tr-link td a.taskLink:link {
  color: var(--color-link);
}
.task-table-tr-link td {
  padding: 1px 8px 1px;
  /* margin: 1px; */
  /* width: fit-content; */

  opacity: var(--opacity-cell);
  background: var(--color-canvas);
}

.taskEditCat {
  max-width: 130px;
}

.task-checkbox-container-checked {
  background: var(--task-checkbox-checked-background);
}
.task-checkbox-container-unchecked {
  background: var(--task-checkbox-unchecked-background);
}









footer {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em;
  border: 2px solid;
}
footer .top {
  display: flex;
}
footer .counterTasks {
  color: #AE57FF;
}

footer div {
  margin: 0 auto;
  padding-top: 8px;
}

footer a {
  padding: 0.5em;
  border: 2px solid;
  margin-left: 1em;
  text-decoration: none;
}
.settings-button {
  border: none;
  background: none;
  font-size: 2em;
}

.css-theme-btn {
  border: 1px solid;
  /*margin: 2px;*/
  opacity: var(--footer-css-theme-btn-opacity);
  background: var(--footer-css-theme-btn-background)
}

.css-theme-btn__active {
  font-weight: bold;  
}





.flow {
  border: none;
  margin: 1em;
  margin: 0px 2px 2em 1px;
  text-align: center;
  /* zoom: 0.8; */
  /* float: left; */
}

.flow.highlight1 {
  background: var(--flow-highlight-background);
}

.flow.highlight1 .categoryHeader {
  background: var(--flow-highlight-background);
  color: var(--flow-highlight-color);
  border-color: var(--flow-highlight-category-border-color);
}


.flow.highlight1 .extraforselectedcategoryheader {
  background: var(--flow-highlight-category-border-color);
  color: var(--color-text-inverted);
  border-color: var(--flow-highlight-category-border-color);
}

.flow.highlight1 .taskTitle {
  color: var(--flow-highlight-task-color);
}










@media only screen and (min-device-width: 600px) {
  .mobile {display: none;}
  .tablet {display: inherit;}
  .desktop {display: none;}

  .subHeader-inner {
    display: inherit;
  }
  body {
    font-size: 10px;
  }
  
  footer {
    display: inherit;
  }

}



@media only screen and (min-device-width: 1000px) {
  .mobile {display: none;}
  .tablet {display: none;}
  .desktop {display: inherit;}

  body {
    font-size: 12px;
  }
  .modal .modal_cancel:hover {
    background: var(--modal_modal-cancel_background_hover);
    color: var(--modal_modal-cancel_color_hover);
    border-color: var(--modal_modal-cancel_border-color_hover);
  }
  .modal .modal_accept:hover {
    background: var(--modal_modal-accept_background_hover);
    color: var(--modal_modal-accept_color_hover);
    border-color: var(--modal_modal-accept_border-color_hover);
  }
  .new-cat_parent:hover {
    background: var(--new-cat_hover);
  }
  
  .categoryHeader:hover {
    background: var(--category-header-title-background-selected);
    color: var(--category-header-title-color-selected);
  }
  .arrowLeftRight:hover,
  .toggle-category:hover,
  .editCategory:hover {
    color: var(--category-header-buttons-color);
    background: var(--category-header-buttons-background);
  }

  .modal_set-top-or-bottom_not-selected:hover,
  .modal_set-top-or-bottom_selected:hover {
    background: var(--modal_set-top-or-bottom_background_hover);
    border-color: var(--modal_set-top-or-bottom_border-color_hover);
    color: var(--modal_set-top-or-bottom_color_hover);
  }

}





































/* The Visual Dome - Start */
/* #the-visual-dome */

@font-face {
  font-family: orpheus-pro-400normal;
  src: url("./assets/fonts/400normal.woff2"), format("woff2"),
   url("./assets/fonts/400normal.woff") format("woff"), 
   url("./assets/fonts/400normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

@font-face {
  font-family: adobe-garamond-pro;
  src: url(https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

.body__the-visual-dome {
  --body_background: aquamarine;

  --lock-overlay_background: gold;
  --lock-overlay_opacity: 0.4;
  
  font-family: orpheus-pro-400normal;

}

/* The Visual Dome - End */
