

/* ASSIST SIZE INDICATION */
.responsive-design-assist {
  position: absolute;
}
.mobile {display: inherit;}
.tablet {display: none;}
.desktop {display: none;}



body {
  font-family: allerta, serif;
  font-weight: lighter;
  font-weight: bold;

/* Style variables */
  --body_background: white;

  --action-bar_button_color: grey;

  --lock-overlay_background: grey;
  --lock-overlay_opacity: 0.7;

  --modal_modal-cancel_background: white;
  --modal_modal-cancel_color: black;
  --modal_modal-cancel_border-color: black;
  --modal_modal-cancel_background_hover: black;
  --modal_modal-cancel_color_hover: white;
  --modal_modal-cancel_border-color_hover: black;

  --modal_modal-accept_background: white;
  --modal_modal-accept_color: grey;
  --modal_modal-accept_border-color: grey;
  --modal_modal-accept_background_hover: grey;
  --modal_modal-accept_color_hover: white;
  --modal_modal-accept_border-color_hover: grey;


  --saving-spinner_background: black;
  --saving-spinner_color: white;

  --new-task_color: grey;
  --new-cat_background: grey;
  --new-cat_color: grey;
  --new-cat_hover: silver;

  --flow-highlight-background: pink;

  --categorySelected-background: grey;
  --categorySelected-color: white;

  --categoryHeader-color: red;

  --task-title_border-color: black;
  
}

/* Reset default behaviour */
button {
  background: none;
  border: none;
}

.saving-spinner_parent {
  position: absolute;
}
.saving-spinner {
  background: var(--saving-spinner_background);
  position: sticky;
  top: 3em;
  left: 1em;
  width: fit-content;
  color: var(--saving-spinner_color);
  padding: 1em;
  z-index: 5;
 
  display: none;
}

.retrieving-data-spinner {
  position: absolute;
  top: 5em;
  width: 100%;
}
.retrieving-data-spinner p {
  width: fit-content;
  background: grey;
  margin: 0 auto;
  color: white;
  padding: 1em; 
}



.lockOverlay {
  background: var(--lock-overlay_background);
  opacity: var(--lock-overlay_opacity);
  z-index: 1;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: aqua;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: deeppink;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #AE57FF;
  border: 6px solid #AE57FF;
}
/* End SCROLLBAR */




html,
body {
  margin: 0;
  cursor: default;

  font-size: 10px;
  /* font-weight: bold; */
  font-weight: 200;
  letter-spacing: 1px;
  word-wrap: break-word;
  /* zoom: 0.7; */
  background: var(--body_background);

}


td,
th {
  padding: 0;
  border: 2px solid;
}

 
input,
textarea,
input:active {
  border-style: none;
  font-weight: bold;
}


.action-bar {
  display: flex;
  font-size: 8px;
  width: fit-content;
  margin: 0 auto 5px;
}

.action-bar_button,
.action-bar_item {
  font-size: 10px;
  padding: 4px 6px 6px 6px;
  margin: 10px 0.5em 0.5em;
  color: var(--action-bar_button_color);
  font-family: allerta, serif;
}


.signature {
  /* image-rendering: pixelated; */
  height: 32px;
  padding: 0px 0px 0px 0px;
  margin: 6px 0px 0px 16px;
}


.modal {
  display: none;
  z-index: 1;
  position: absolute;
  /* position: sticky; */
  top: 200px;
/*  left: 36vw; */
  /* margin: 0 auto; */
  /* transform: translateX(-50%); */

  background: white;
  width: 400px;
  padding: 20px;
  text-align: center;
}

.modal .modal_label {
  width: 400px;
}
.modal .modal_cancel {
  background: var(--modal_modal-cancel_background);
  color: var(--modal_modal-cancel_color);
  border-color: var(--modal_modal-cancel_border-color);
}

.modal .modal_cancel:hover {
  background: var(--modal_modal-cancel_background_hover);
  color: var(--modal_modal-cancel_color_hover);
  border-color: var(--modal_modal-cancel_border-color_hover);
}

.modal .modal_accept {
  background: var(--modal_modal-accept_background);
  color: var(--modal_modal-accept_color);
  border-color: var(--modal_modal-accept_border-color);

  width: 50%;
  height: 3em;
}
.modal .modal_accept:hover {
  background: var(--modal_modal-accept_background_hover);
  color: var(--modal_modal-accept_color_hover);
  border-color: var(--modal_modal-accept_border-color_hover);
}

.model_settings_set-actionbar-location {
  height: 3em;
}

/* edit task modal - Start */
.inputForChangingTaskTitle {
  height: 5em;
}

.binModalHeader {
  min-width: 428px;
}

.binTaskTitle {
  word-break: break-all;
}


.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  margin: 2px 1px 0 2px;
}

.flow {
  border: none;
  margin: 1em;
  margin: 0px 2px 2em 1px;
  text-align: center;
  /* zoom: 0.8; */
  /* float: left; */
}
.flow.highlight1 {
  background: var(--flow-highlight-background);
}











.createNewTaskGrid {
  width: 210px;
  width: 209px;
}
.create-new-task {
  width: 190px;

}

.belongsTo {
  display: inherit;
  max-width: 130px;
  font-size: 1.1em;
}

.newTaskCategoryGrid {
  border: 2px solid var(--categorySelected-background);
  border-width: 1px 2px 1px 2px ;
  display: grid;
  /* column-gap: 1rem; */
  /* column-count: 2; */
  grid-template-columns: 1fr 18px
}

.createNewTask_CategoryName {
  word-wrap: break-word;
  border: 2px solid black;
  border-width: 1px 0px 1px 0px ;
  /* line-height: 16px; */
  padding-bottom: 1px;
}

.createNewTask_CategoryName.defaulCategory {
  padding-bottom: 1px;
}

.defaulCategory {
  grid-column: 1 / 3;
}

.createNewTask_CatDeleteBtn {
  align-items: center;
  display: inherit;
  border: 2px solid transparent;
  border-width: 1px 0px 1px 2px;
  padding: 0 0 0px 1px;
}



.newTaskTitleInputParent {
  margin: 16px 0px 16px 0px;
  background-color: #4BA6FF;
  padding: 0px 2px 0px 2px;
}
.newTaskTitleInputLabel {
  font-weight: bold;
  font-size: 1.1em;
  padding: 2px 0px 2px 0px;
  color: white;
  /* background-color: pink; */
}
.newTaskTitleTextArea {
  height: 32px;
  width: calc(100% - 4px);
  padding: 6px 2px 0px 2px;
  margin: 0px 0px 0px 0px;
  outline: none;
  font-size: 1em;
  text-align: center;
  color: var(--new-cat_color);
  color: #4BA6FF;
}

.newTaskTitleTextArea::placeholder {
  color: #4BA6FF;
}

.new-task_submit {
  height: 40px;
  width: 100%;
  font-size: 1.42em;
  background-color: #4BA6FF;
  color: white;
}

.default-order-new-task_parent {
  margin: 16px 0px 16px 0px;
  display: flex;
}
.default-order-new-task_parent button {
  width: 50%;
  border: 2px solid #AE57FF;
}

.default-order-new-task-first,
.default-order-new-task.selected {
  background: #AE57FF;
  color: white;
}
.default-order-new-task-last,
.default-order-new-task.not-selected {
  background: white;
  color: #AE57FF;
}

.new-cat_parent {
  font-size: 1.1em;
  /* border: 2px solid black; */
  background: var(--new-cat_background);
}
.new-cat_parent:hover {
  background: var(--new-cat_hover);
}
.new-cat_label {
  color: white;
  padding: 2px 0px 2px 0px;
}
.new-cat_input {
  height: 20px;
  width: calc(100% - 8px);
  padding: 6px 2px 0px 2px;
  margin: 0px 0px 2px 0px;
  outline: none;
  font-size: 1em;
  text-align: center;
  color: var(--new-cat_color);
}
.new-cat_input::placeholder {
  color: var(--new-cat_color);
}
.new-cat_submit {
  height: 40px;
  width: 100%;
  font-size: 1.42em;
  background: var(--new-cat_background);
  color: white;
}

.defaultOrderNewTask {
  width: 50%;
}















/* A category with tasks parent */
.masterTask {
  margin: 0px auto 0px;
}

/* A category header table */
.categoryHeaderTable {
  word-wrap: break-word;
  margin: 0 0px 0 0px;
  width: 213px;
  margin: -2px;
}

/* A category header */
.categoryHeader {
  border-width: 2px;
  height: 32px;
  word-wrap: break-word;
  color: var(--categoryHeader-color);
}
.extraforselectedcategoryheader {
  background: var(--categorySelected-background);
  color: var(--categorySelected-color);
  border-color: var(--categorySelected-background);
}
.notselectedcategoryheader {
  color: deeppink;
  border-color: deeppink;
}

.arrowLeftRight {
  color: deeppink;
  border: 2px solid deeppink; 
  font-size: 14px;
  padding: 0px 0px 2px 0px;
  width: 20px;
}
.arrowLeftRight:hover {
  color: white;
  background: deeppink;
}


/* a task */
.taskTable {
  border-spacing: 2px;
  margin: 10px auto;
}
.task-table-tr1 {}
.task-table-tr2 {}
.task-table-tr3 {}

/* Used for up&down btn's on tasks */
.spanMoveTaskDownBtn {
  /* zoom: 1.5; */
  min-width: 20px;
  padding: 0px 0 4px 0px;
  display: block;
  transform: rotate(90deg);
}

.spanMoveTaskUpBtn {
  min-width: 20px;
  display: block;
  padding: 0 0px 4px 2px;
  transform: rotate(90deg);
}

.taskTitle {
  max-width: 200px;
  min-width: 200px;
  border-color: var(--task-title_border-color);
}
.emptyTaskTitle {
  /* some height to make it stand out more */
  height: 3em;
}

.task-table-tr-link td {
  border: none;
}

.taskEditCat {
  max-width: 130px;
}


/* edit task moda - End */

footer {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em;
  border: 2px solid;
}
footer .top {
  display: flex;
}
footer .bottom {
  
}
footer .counterTasks {
  color: #AE57FF;
}

footer div {
  margin: 0 auto;
  padding-top: 8px;
}

footer .createdBy {
}

footer a {
  padding: 0.5em;
  border: 2px solid;
  margin-left: 1em;
  text-decoration: none;
}
.settings-button {
  border: none;
  background: none;
  font-size: 2em;
}

.css-theme-btn {
  border: 1px solid;
  /*margin: 2px;*/
}

.css-theme-btn__active {
  font-weight: bold;  
}


.model_settings_set-actionbar-on-top_selected,
.model_settings_set-actionbar-on-bottom_selected {
  background: grey;
  border-color: grey;
  color: white;
}
.model_settings_set-actionbar-on-top_not-selected,
.model_settings_set-actionbar-on-bottom_not-selected {
  background: white;
  border-color: black;
  color: black;
}





@media only screen and (min-device-width: 600px) {
  .mobile {display: none;}
  .tablet {display: inherit;}
  .desktop {display: none;}

  .subHeader-inner {
    display: inherit;
  }
  body {
    font-size: 10px;
  }
  .categoryContainer {
  
  }
  .flow {
    /* margin: 0px 2px 2em 2px; */
  }
  
  footer {
    display: inherit;
  }

}



@media only screen and (min-device-width: 1000px) {
  .mobile {display: none;}
  .tablet {display: none;}
  .desktop {display: inherit;}

  body {
    font-size: 12px;
  }
  .createNewTask_CategoryName {
    /* line-height: 16px; */
  }
}





































/* The Visual Dome - Start */
/* #the-visual-dome */

@font-face {
  font-family: orpheus-pro-400normal;
  src: url("./assets/fonts/400normal.woff2"), format("woff2"),
   url("./assets/fonts/400normal.woff") format("woff"), 
   url("./assets/fonts/400normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

@font-face {
  font-family: adobe-garamond-pro;
  src: url(https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/l?subset_id=2&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/d?subset_id=2&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/a?subset_id=2&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}

.body__the-visual-dome {
  --body_background: aquamarine;

  --lock-overlay_background: gold;
  --lock-overlay_opacity: 0.4;
  
  font-family: orpheus-pro-400normal;

}

/* The Visual Dome - End */
