
.body__black {
  /* font-family: sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    letter-spacing: 0.4px;

    font-family: allerta;



  --color-brand: deeppink;
  --color-primary: #4BA6FF;
  --color-primary-light: lightblue;
  --color-secondary: #AE57FF;
  --color-secondary-light: pink;

  --color-white: white;
  --color-black: black;

  --color-text: white;
  --color-text-inverted: black;

  --color-accept: teal;
  --color-accept-light: black;

  --color-cancel: var(--color-brand);
  --color-cancel-light: black;

  --body_background: black;

  --action-bar_button_color: #AE57FF;

  --lock-overlay_background: blue;
  --lock-overlay_opacity: 0.4;



  --saving-spinner_background: #AE57FF;
  --saving-spinner_background: #AE57FF;
  --saving-spinner_color: black;

  --category-header-title-background: black;
  --category-header-title-color-selected: var(--color-text-inverted);


  --categorySelected-background: deeppink;
  --categorySelected-color: black;

  --flow-highlight-background: #444;

  --new-cat_background: deeppink;
  --new-cat_color: deeppink;
  --new-cat_hover: deeppink;

  --new-task-category-border: var(--color-brand);



  filter: saturate(1.4);
  --categoryHeader-color: blue;
}





.body__black .action-bar {
  border: none;
  color: #AE57FF;
}
.body__black .action-bar_inner {
  margin: 0 auto;
}
.body__black .action-bar h3 {
  /* border: 3px solid red; */
}



/* A category with tasks parent */
.body__black .masterTask {
  color: #4BA6FF;
}


.body__black .newTaskTitleInputLabel {
  color: black;
}
.body__black .new-task_submit {
  color: black;
}
.body__black .new-cat_label {
  color: black;
}
.body__black .new-cat_submit {
  color: black;
}
  

.body__black .toggle-category {
  width: 76px;
}
.body__black .arrowLeftRight,
.body__black .toggle-category,
.body__black .editCategory {
  background: black;
  border-color: deeppink;
  color: deeppink;
}
.body__black .arrowLeftRight:hover,
.body__black .toggle-category:hover,
.body__black .editCategory:hover {
  background: deeppink;
  color: black;
}





.body__black .categoryHeader input {
  color: 'hotpink';
  background: 'red';
}

.body__black .input::placeholder {
  color: 'hotpink';
  background: 'red';
}

.body__black .create-new-task {
  color: #4BA6FF;
}

.body__black #newTaskCategoryGrid {
  color: hotpink;
}




.body__black .createNewTask_CategoryName:hover {
  color: black;
  background: deeppink;
}


.body__black .createNewTask_CatDeleteBtn:hover {
  background: deeppink;
  color: white;
}

.body__black input,
.body__black textarea,
.body__black input:active {
  background: black;
  color: red;
}





.body__black .default-order-new-task-first,
.body__black .default-order-new-task.selected {
  background: #AE57FF;
  color: black;
}
.body__black .default-order-new-task-last,
.body__black .default-order-new-task.not-selected {
  background: black;
  color: #AE57FF;
}


/* Used for up&down btn's on tasks */
.body__black #taskUp,
.body__black #taskDown {
  border-color: lightseagreen;
  border-color: #A0DFD6;
}
.body__black #taskUp:hover,
.body__black #taskDown:hover {
  background: lightseagreen;
  background: #A0DFD6;
  color: white;
}

.body__black .spanMoveTaskDownBtn,
.body__black .spanMoveTaskUpBtn {
  color: lightseagreen;
  color: #A0DFD6;
}

.body__black .spanMoveTaskDownBtn:hover,
.body__black .spanMoveTaskUpBtn:hover {
  color: white;
}
.body__black .taskTitle {
  color: lightblue;
  color: cornflowerblue;
  border: none;
}
.body__black .task-checkbox-container-checked {
  background: #AE57FF;
  border-color: #AE57FF;
  color: white;
}
.body__black .task-checkbox-container-unchecked {
  border-color: #AE57FF;
}

.body__black .model_edit-category_set-cat-order,
.body__black .model_edit-task_set-task-order  {
  height: 3em;
}
.body__black .model_edit-category_set-cat-first_not-selected {
  background: black;
  border: 2px solid #AE57FF;
}

.body__black .model_edit-category_set-cat-first_selected {
  background: #AE57FF;
  color: black;
  border: 2px solid #AE57FF;
}

.body__black .model_edit-category_set-cat-last_not-selected {
  background: black;
  border: 2px solid #AE57FF;
}

.body__black .model_edit-category_set-cat-last_selected {
  background: #AE57FF;
  color: black;
  border: 2px solid #AE57FF;
}

.body__black .model_edit-task_set-task-first_not-selected {
  background: black;
  border: 2px solid #AE57FF;
}

.body__black .model_edit-task_set-task-first_selected {
  background: #AE57FF;
  color: white;
  border: 2px solid #AE57FF;
}

.body__black .model_edit-task_set-task-last_not-selected {
  background: black;
  border: 2px solid #AE57FF;
}

.body__black .model_edit-task_set-task-last_selected {
  background: #AE57FF;
  color: white;
  border: 2px solid #AE57FF;
}


.body__black .model_settings_set-actionbar-on-top_selected,
.body__black .model_settings_set-actionbar-on-bottom_selected {
  background: blue;
  border-color: blue;
  color: black;
}
.body__black .model_settings_set-actionbar-on-top_not-selected,
.body__black .model_settings_set-actionbar-on-bottom_not-selected {
  background: black;
  border-color: blue;
  color: blue;
}


.body__black .modal {
  border-color: #AE57FF;
  background: black;
  color: #AE57FF;
}

.body__black .modal_warning {
  border: none;
  background: black;
  color: #AE57FF;
}


.body__black footer {
  border-color: transparent;
}

.body__black .css-theme-btn {
  border-color: red;
  color: red;
}