

/* The White Lotus - Start */

.body__the-white-lotus {
  --lotus-canvas-white: #ebdac0;
  --lotus-white: #ebdac0;


  --body_background: var(--lotus-canvas-white);
  --body_background: var(--lotus-canvas-white);

  --primary-color: rgb(95,33,42);
  --primary-color-light: rgb(117,68,69);
  --secondary-color: rgb(36,47,39);
  --secondary-color-light: rgb(108, 131, 108);


  --action-bar_button_color: #AE57FF;

  --lock-overlay_background: aqua;
  --lock-overlay_opacity: 0.4;

  --modal_modal-cancel_background: var(--primary-color);
  --modal_modal-cancel_color: var(--lotus-canvas-white);
  --modal_modal-cancel_border-color: var(--primary-color);
  --modal_modal-cancel_background_hover: var(--primary-color-light);
  --modal_modal-cancel_color_hover: var(--lotus-canvas-white);
  --modal_modal-cancel_border-color_hover: var(--primary-color-light);

  --modal_modal-accept_background: var(--secondary-color);
  --modal_modal-accept_color: var(--lotus-canvas-white);
  --modal_modal-accept_border-color: var(--secondary-color);
  --modal_modal-accept_background_hover: var(--secondary-color-light);
  --modal_modal-accept_color_hover: var(--lotus-canvas-white);
  --modal_modal-accept_border-color_hover:  var(--secondary-color-light);

  --saving-spinner_background: var(--secondary-color);
  --saving-spinner_color: var(--lotus-canvas-white);

  --categorySelected-background: var(--primary-color);
  --categorySelected-color: white;

  --new-cat_background: var(--primary-color);
  --new-cat_color: var(--primary-color);
  --new-cat_hover: var(--primary-color);

  --flow-highlight-background: #53141b;


  --footer-css-theme-btn-background: var(--lotus-canvas-white);
  --footer-css-theme-btn-opacity: 0.5;



  filter: saturate(1.4);
  /* background: white; */
  --categoryHeader-color: blue;

  background-image: url("./assets/images/tiger-sleep.png");
  /* --task-title_border-color: green; */

}


.body__the-white-lotus .modal {
  background-color: var(--primary-color-light);
  background-color: var(--lotus-canvas-white);
}
.body__the-white-lotus .modal input,
.body__the-white-lotus .modal textarea,
.body__the-white-lotus .modal input:active {
  background-color: var(--primary-color-light);
  background-color: var(--lotus-canvas-white);
}


.body__the-white-lotus .model_edit-category_set-cat-first_not-selected {
  background: var(--primary-color-light);
  border-color: var(--primary-color);
}

.body__the-white-lotus .model_edit-category_set-cat-first_selected {
  background: var(--primary-color);
  color: var(--lotus-canvas-white);
  border-color: var(--primary-color);
}

.body__the-white-lotus .model_edit-category_set-cat-last_not-selected {
  background: var(--primary-color-light);
  border-color: var(--primary-color);
}

.body__the-white-lotus .model_edit-category_set-cat-last_selected {
  background: var(--primary-color);
  color: var(--lotus-canvas-white);
  border-color: var(--primary-color);
}





.body__the-white-lotus .model_edit-task_set-task-first_not-selected,
.body__the-white-lotus .model_edit-task_set-task-last_not-selected {
  background: var(--lotus-canvas-white);
  border-color: var(--primary-color);
}

.body__the-white-lotus .model_edit-task_set-task-first_selected,
.body__the-white-lotus .model_edit-task_set-task-last_selected {
  background: var(--primary-color-light);
  color: var(--lotus-canvas-white);
  border-color: var(--primary-color);
}









.body__the-white-lotus .action-bar {
  background: #474b30;
  background: rgb(95,33,42);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 4px;
  justify-content: center;
}
.body__the-white-lotus .action-bar_inner {
}
.body__the-white-lotus .action-bar h3 {
}

.body__the-white-lotus .action-bar_button {
  color: var(--lotus-canvas-white);
}
.counterTasks {
  color: var(--lotus-canvas-white);
}

.body__the-white-lotus .binModalHeader {}

.body__the-white-lotus .binTaskTitle {}



.body__the-white-lotus .flow {
  background: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 8px;
} 

.body__the-white-lotus .newTaskCategoryGrid {
  background: var(--primary-color-light);
  opacity: 0.9;
}






/* A category with tasks parent */
.body__the-white-lotus .masterTask {
  /* background-color: #474b30; */
}


/* A category header */
.body__the-white-lotus .categoryHeader {
  background-color: darkseagreen;
  background-color: var(--primary-color);
}
.body__the-white-lotus .notselectedcategoryheader {
  color: indianred;
  color: black;
  color: var(--primary-color);
  color: var(--lotus-canvas-white);
  border-color: indianred;
  border-color: var(--primary-color);
}
.body__the-white-lotus .extraforselectedcategoryheader {
  color: #474b30;
  color: var(--primary-color);
  /* color: var(--lotus-canvas-white); */
  background-color: var(--lotus-canvas-white);
}


.body__the-white-lotus .createNewTask_CatDeleteBtn {
  color: indianred;
  color: var(--primary-color);
  /* color: var(--lotus-canvas-white); */
  border-color: indianred;
  border-color: var(--primary-color);

}

.body__the-white-lotus .createNewTask_CatDeleteBtn:hover {
  background: var(--primary-color);
  color: white;
}


.body__the-white-lotus .newTaskTitleInputParent {
  background-color: transparent;
  background-color: var(--primary-color);
}
.body__the-white-lotus .newTaskTitleInputLabel {
  color: var(--lotus-canvas-white);
  opacity: 0.9;
}
.body__the-white-lotus .newTaskTitleTextArea {
  background-color: var(--lotus-canvas-white);
  color: var(--primary-color);

 

}

.body__the-white-lotus .newTaskTitleTextArea::placeholder {
  color: var(--primary-color);
}


.body__the-white-lotus .new-task_submit {
  background-color: var(--primary-color);
  opacity: 1;
  color: var(--lotus-canvas-white);
}

.body__the-white-lotus .default-order-new-task_parent button {
  border-color: var(--primary-color);
}

.body__the-white-lotus .default-order-new-task-first,
.body__the-white-lotus .default-order-new-task.selected {
  background: var(--lotus-canvas-white);
  color: var(--primary-color);
}
.body__the-white-lotus .default-order-new-task-last,
.body__the-white-lotus .default-order-new-task.not-selected {
  background: var(--primary-color);
  color: var(--lotus-canvas-white);
}

.body__the-white-lotus .new-cat_parent {
  background-color: transparent;
  border: 2px solid var(--primary-color);

}
.body__the-white-lotus .new-cat_label {
  background-color: var(--primary-color);
  opacity: 0.9;
  color: var(--lotus-canvas-white);
}
.body__the-white-lotus .new-cat_input {
  width: calc(100% - 4px);
  margin-bottom: 0;
  background-color: var(--lotus-canvas-white);
}

.body__the-white-lotus .new-cat_submit {
  /* background-color: var(--primary-color); */
  color: var(--lotus-canvas-white);
}









.body__the-white-lotus .arrowLeftRight,
.body__the-white-lotus .toggle-category,
.body__the-white-lotus .editCategory {
  color: indianred;
  color: var(--primary-color);
  border-color: var(--lotus-canvas-white);
  background-color: var(--lotus-canvas-white);
  opacity: 0.5;
}
.body__the-white-lotus .arrowLeftRight:hover,
.body__the-white-lotus .toggle-category:hover,
  .body__the-white-lotus .editCategory:hover {
  color: #ebdac0;
  background: var(--primary-color);
}


.body__the-white-lotus .taskTable {
  margin-top: 2em;
  /* background-color: var(--secondary-color); */

  border-radius: 1em;
}

.body__the-white-lotus .task_delete,
.body__the-white-lotus .task_down,
.body__the-white-lotus .task_up,
.body__the-white-lotus .task_edit {
  border-color: transparent;
  background-color: var(--secondary-color-light);

  background-color: var(--lotus-canvas-white);
  opacity: 0.5;

}
.body__the-white-lotus .task_delete:hover,
.body__the-white-lotus .task_down:hover,
.body__the-white-lotus .task_up:hover,
.body__the-white-lotus .task_edit:hover {
  border-color: var(--lotus-canvas-white);
  color: var(--lotus-canvas-white);
  background-color: var(--secondary-color);
}



.body__the-white-lotus .spanMoveTaskDownBtn:hover,
.body__the-white-lotus .spanMoveTaskUpBtn:hover {
}
.body__the-white-lotus .taskTitle {
  border-color: transparent;
  background-color: var(--secondary-color);

  color: red;
  color: var(--secondary-color-light);
  color: var(--lotus-canvas-white);
}
.body__the-white-lotus .task-checkbox-container-checked {
  border-color: transparent;
  background: var(--primary-color);
}
.body__the-white-lotus .task-checkbox-container-unchecked {
  border-color: transparent;
  background-color: var(--lotus-canvas-white);
  opacity: 0.5;
}
.body__the-white-lotus .task-checkbox-container-unchecked:hover {
  opacity: 1;
}

.body__the-white-lotus .taskEditCat {}

.body__the-white-lotus footer {
  border: none;
}
.body__the-white-lotus footer .createdBy {
  background-color: var(--lotus-canvas-white);
  opacity: 0.5;
  padding-left: 1em;
  padding-right: 1em;
}
.body__the-white-lotus footer .createdBy a {
  border: none;
}






/* SCROLLBAR */

/* Track */
.body__the-white-lotus::-webkit-scrollbar-track {
  background: var(--secondary-color-light);
}

/* Handle */
.body__the-white-lotus::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Handle on hover */
.body__the-white-lotus::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
  border-color: var(--primary-color);
}
/* End SCROLLBAR */










@media only screen and (min-device-width: 600px) {
  
  
.body__the-white-lotus .flow {
  margin: 0.8em;
  /* background: rgba(255, 255, 255, 0.5); */
  /* border-radius: 8px; */
} 
.body__the-white-lotus .categoryHeaderTable {
  margin: 0;
}


}



@media only screen and (min-device-width: 1000px) {
 
  

  .body__the-white-lotus .flow {
    /* margin: 3em; */
    /* background: rgba(255, 255, 255, 0.5); */
    /* border-radius: 8px; */
  } 
  


}

